* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.clear {
    clear: both;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    background-color: #424242;
    width: 100%;
    height: auto;
    padding: 10px 0;
}

header p {
    float: left;
}

header form {
    float: right;
}

header label {
    margin-right: 10px;
    color: white;
    font-size: 23px;
}

header p {
    color: white;
    font-size: 23px;
}

form input[type=text] {
    padding: 0 8px;
    width: 200px;
    height: 20px; 
}

form input[type=submit] {
    width: 50px;
    cursor: pointer;
    border: 0;
    height: 20px;
}

.forums {
    padding: 20px 0;
}

.forums a {
    font-size: 23px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

header a {
    color: white;
}

.create {
    float: right;
    font-size: 23px;
    color: white;
    text-decoration: none;
}

.create:hover {
    text-decoration: underline;
}

.forums p {
    margin-top: 10px;
    font-size: 17px;
    color: black;
    text-decoration: none;
}

.forums a > h2:hover {
    text-decoration: underline;
}

.forums span {
    position: relative;
    top: 35px;
    right: 40px;
    font-size: 18px;
    text-align: right;
    display: block;
}

/* CREATE POST */

.create_post form {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    max-width: 900px;
}

.create_post form h2 {
    text-align: center;
    margin-bottom: 30px;
}

.create_post form input[type="text"] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.create_post form textarea {
    width: 100%;
    height: 200px;
    padding: 5px 8px;
    border: 1px solid #ccc;
    resize: vertical;
}

.create_post form input[type=submit] {
    width: 130px;
    height: 30px;
    background: #ccc;
    color: white;
    cursor: pointer;
}

.create_post form input[type=submit]:hover {
    background: #424242;
    transition: 0.5s;
}

/* POSTS */

.posts span {
    font-size: 23px;
    font-weight: bold;
}

.posts textarea {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    resize: vertical;
}


